
* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}
a {
    color: #009;
}
a:hover {
    color: #909;
}
a:visisted {
    color: #909;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body {
    font-family: Sans, Verdana;
    background: #eef;
    color: #222;
}
input, select {
    font-size: 1em;
    height: 2em;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    padding: .1em;
    display: inline-block;
    float: left;
}
#body div,
#body ul {
    margin-bottom: 1em;
}
h1 {
    font-size: 1.4em;
    font-weight: bold;
    color: #111;
}
h2 {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}
ul {
    list-style: square;
}
ul li {
    margin-left: 1em;
}
img {
    margin: 5px;
    vertical-align: middle;
}
#header,
#footer {
    background-color: rgba(0,0,255,.2);
    background-image: url('../images/pixels.png');
}
#header {
    position: absolute;
    height: 75px;
    max-height: 75px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 10px solid rgba(0,0,255,.2);
}
#body {
    position: absolute;
    top: 85px;
    bottom: 40px;
    left: 0;
    right: 0;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}
#footer {
    position: absolute;
    height: 30px;
    max-height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 10px solid rgba(0,0,255,.2);
}
#donate .button {
    float: left;
}
.content {
    position: relative;
    max-width: 900px;
    margin: 0px auto;
    padding: 0 5px 0 5px;
}
#header a {
    text-decoration: none;
    color: rgba(64,100,200,.8);
    outline: none;
}
#header h1,
#header h2 {
    position: absolute;
    text-shadow: 2px  2px 2px rgba(0,0,0,.1),
                 2px -2px 2px rgba(0,0,0,.1),
                -2px -2px 2px rgba(0,0,0,.1),
                -2px  2px 2px rgba(0,0,0,.1);
}
#header h1 {
    top: 10px;
    font-size: 30px;
    line-height: 40px;
}
#header h2 {
    top: 40px;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255,255,255,.8);
}
#body h1 {
    margin-top: 10px;
    color: rgba(0,0,0,.8);
    text-shadow: 2px  2px 2px rgba(0,0,0,.1),
                 2px -2px 2px rgba(0,0,0,.1),
                -2px -2px 2px rgba(0,0,0,.1),
                -2px  2px 2px rgba(0,0,0,.1);
}
.menu {
    list-style: none;
}
.menu li {
    float: left;
    margin: 0 3px;
    padding: 0;
}
.menu li * {
    display: block;
}
#mainmenu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
}
#mainmenu li * {
    color: #fff;
    font-weight: bold;
    padding: 10px;
    height: 55px;
    line-height: 100px;
    border-bottom: 10px solid rgba(0,0,255,.1);
    background-color: rgba(0,0,255,.2);
    text-shadow: 2px  2px 2px rgba(255,255,255,.2),
                 2px -2px 2px rgba(255,255,255,.2),
                -2px -2px 2px rgba(255,255,255,.2),
                -2px  2px 2px rgba(255,255,255,.2);
}
#mainmenu li *:hover,
#mainmenu .selected * {
    background-color: rgba(0,0,255,.3);
    border-bottom: 10px solid rgba(0,0,255,.5);
}
#donate-wrap .button {
    float: left;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.message {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 1em;
    margin: 5px;
    border: 5px solid #999;
    background-color: #ccc;
}
.error {
    border-color: rgba(200,55,55,.5);
    background-color: rgba(255,155,155,.5);
}
.success {
    border-color: rgba(55,200,55,.5);
    background-color: rgba(155,255,155,.5)
}
#footer .credits,
#footer .gtranslate {
    height: 25px;
    line-height: 20px;
    position: absolute;
    top: 3px;
}

#footer .credits {
    left: 0;
    color: #333;
    font-size: 12px;
    font-style: italic;
    text-shadow: 2px  2px 2px rgba(0,0,0,.1),
                 2px -2px 2px rgba(0,0,0,.1),
                -2px -2px 2px rgba(0,0,0,.1),
                -2px  2px 2px rgba(0,0,0,.1);
}
#footer .gtranslate {
    right: 0;
    font-size: 12px;
}

